.flex-container{
    display: flex;
    justify-content: center;
    
}
body{
    background-color: gray;
    box-sizing: border-box;
}

.flex-item {
    width: 370px;
    height: 150px;
    font-style: italic;
    text-align: center;
    border: 8px red solid;
    border-radius: 20px;
    margin-top: 20px;
    line-height: 35px;
    font-size: 25px;
    box-shadow: 10px 10px 8px chocolate;
    background-color: white;
    text-shadow: 2px 2px 2px purple;
}
.flex1-container{
    display: flex;
    justify-content:space-between ;
    border: solid 8px green;
    flex-wrap: wrap;
}
.flex-item1 {
    border: solid 4px crimson;
    height: 173px;
    padding: -17px;
    margin: 20px;
    align-items: center;
    text-align: center;
    width: 249px;
    font-weight: bold;
    font-size: 22px;
    background-color: white;
    line-height: 2;
    border-radius: 10px;
    box-shadow: 5px 5px 5px purple;
    text-shadow: 1px 2px violet;
    flex: 0 0 33.333333%;
}
.flex-item2 {
    width: 250px;
    margin: 20px;
    height: 250px;
    background-color: white;
    border: solid 4px violet;
    border-radius: 20px;
    box-shadow: 10px 10px 5px violet;
    flex: 0 0 33.333333%;

}
img {
    width: 200px;
    height: 200px;
    margin: 22px;
    border: solid 4px palevioletred;
    /* border-radius: 20px; */
}
.rating {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: solid 4px red;
    border-radius: 20px;
    line-height: 30px;
    box-shadow: 5px 5px 5px purple;
    text-align: center;
}
h4{
    font-size: 25px;
    text-shadow: 2px 2px purple;
}
label{
    font-size: 18px;
    text-shadow: 2px 2px purple;
}
input[type="submit"]{
    background-color: hotpink;
}
.menu-container{
    display: flex;
    justify-content: center;
}
.menu-items {

    background-color: green;
    border: solid 5px purple;
    width: 550px;
    text-align: center;
}
.menu-item{
    display: flex;
    font-style: italic;
}
.menu-item-box{
    flex: 1;
    background: #e1c24a;
}

.menu-item-box:first-child{
    margin-right: 10px;
}
.other-item-box{
    background: #e1c24a;
    font-style: italic;
}
.offer-box {
    display: flex;
    /* top: 300px; */
    /* left: 460px; */
    bottom: 10px;
    left: 420px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px purple;
    position: fixed;
    background: greenyellow;
    border: solid 4px red;
}
.offer-box-text {
    flex: 1;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: brown;
}